

 body {
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
    }

    .personagens-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .personagem {
      width: 300px;
      padding: 20px;
      margin: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    .personagem h2 {
      font-size: 18px;
      margin-top: 0;
    }

    .personagem p {
      margin: 5px 0;
    }